__pycache__/
*.pyc
.env
mlruns/
mlflow.db

data/*
!data/raw.dvc
!data/processed.dvc
!data/external.dvc
!data/**/.gitkeep
!data/**/README.md
!data/**/schema.json
# DVC metadata files MUST be tracked
!*.dvc
!dvc.yaml
!dvc.lock

